{% include 'team_manager/partial-user-menu.html' %}


    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/gym_slot/{{game.gym_session.gym_slot.id}}">Gym Slot</a></li>
        <li><a href="/gym_session/{{game.gym_session.id}}">Gym Session</a></li>
        <li class="active">Game</li>
    </ol>

 <!-- main content -->
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Gym Slot: {{game.gym_session.gym_slot.name}}</h1>
          <h2>Session: {{ game.gym_session.start_time|date:"SHORT_DATE_FORMAT" }}</h2>
    </div>

    <div class="container">

    {% if game.teams.all %} 
    {% for team in game.teams.all  %}

        <div class="col-sm-6">
            <div class="list-group" id="list2">


                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h3 class="panel-title">{{ team.name}}
                                {% if team.won != Null %}
                                    {% if team.won %}
                                        <span class="badge badge-pill badge-primary pull-right badge-success">Winner: {{team.score}}</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-primary pull-right badge-error">Loser: {{team.score}}</span>
                                    {% endif %}
                                {% endif %}
                            </h3>
                    </div>

                    <div class="panel-body" id="{{team}}">
                        {% for player in team.players.all %} 
                            <div id="player_{{player.id}}" class="list-group-item player">
                                {{player.first_name}} {{player.last_name}} - {{player.position}}
                            </div>
                        {% endfor %}
                    </div>
                </div>




            </div>
        </div>

    {% endfor %}
    {% endif %}



    </div>

{% if game.end_time %}

<div class="starter-template">
    <h1>Game Time</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="lead">{{ game.game_duration_friendly }}</div>
      </div>
    </div>
</div>

  <form action="/start_gym_slot_session/{{game.gym_session.id}}" method="POST" class="form-inline">
      {% csrf_token %}
      <input type="hidden" name="game_id" value="{{game.id}}">
      <button type="submit" class="btn btn-info btn-primary active">
        <span class="fa fa-repeat" aria-hidden="true"></span> Rematch
      </button>

  </form>

{% else %}
<div class="starter-template">
    <h1>Game Time Remaining</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="lead" id="clock"></div>
      </div>
    </div>

<!--
    <button type="button" class="btn btn-primary" id="btn-reset">
      <i class="glyphicon glyphicon-repeat"></i>
      Reset countdown
    </button>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default" id="btn-pause">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <i class="glyphicon glyphicon-pause"></i>
        Pause
      </label>

      <label class="btn btn-default active" id="btn-resume">
        <input type="radio" name="options" id="option2" autocomplete="off" checked>
        <i class="glyphicon glyphicon-play"></i>
        Resume
      </label>
    </div>
-->
  </div>


<div class="starter-template">
    <h1>Record Scores</h1>
    <div class="panel panel-default">
        <div class="panel-body">
          <form action="/game/{{game.id}}" method="POST" class="form-inline">
            {% csrf_token %}

            {% for team in game.teams.all %}

                <div class="form-group">
                    <label for="exampleInputName2">{{ team.name}} Score:</label>
                    <select class="form-control" name="{{ team.id }}">
                      {% for score in scores %}
                        <option value="{{ score }}" {% if score == team.score %}SELECTED{% endif %}>{{score}}</option>
                      {% endfor %}
                    </select>
                </div>

            {% endfor %}


            <button type="submit" class="btn btn-success btn-sm">End Game</button>
        </form>
        </div>
    </div>
</div>
{% endif %}

</div>






    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>

<script type="text/javascript">

    $('#clock').countdown("{{game_end|date:"Y/m/d H:i:s"}}", {elapse: true})
        .on('update.countdown', function(event) {
      var $this = $(this);
      if (event.elapsed) {
        $this.html(event.strftime('OverTime: <span>%H Hours %M Minutes %S Seconds</span>'));
      } else {
        $this.html(event.strftime('Time Remaining: <span>%H Hours %M Minutes %S Seconds</span>'));
      }
    });



  $('#btn-reset').click(function() {
    $clock.countdown(get15dayFromNow());
  });

  $('#btn-pause').click(function() {
    $clock.countdown('pause');
  });

  $('#btn-resume').click(function() {
    $clock.countdown('resume');
  });

</script>

  </body>
</html>