{% load staticfiles %}
<html>


{% include 'team_manager/partial-user-menu.html' %}



<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col l9">
            <br />
            <h3>Gym Slot</h3>

            <div class="divider"></div>
            <p>Select the slot you want to start a session for:</p>



<div class="list-group">
  <a href="#" class="list-group-item active">
    Today
  </a>
    {% if gym_slots_today %}
      {% for gym_slot in gym_slots_today %}
         <a href="start_gym_slot_session/{{gym_slot.id}}" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{gym_slot.name}}</a>
       {% endfor %}
    {% else %}
        <a href="" class="list-group-item list-group-item-action">No Gym Slots Scheduled Today</a>
    {% endif %}
</div>


<div class="list-group">
  <a href="#" class="list-group-item active">
    Other Days
  </a>
  {% for gym_slot in gym_slots_other %}
     <a href="start_gym_slot_session/{{gym_slot.id}}" class="list-group-item list-group-item-action"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{gym_slot.name}}</a>
   {% endfor %}
</div>

            


        </div>
       

    </div>
</div>





    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>