{% load staticfiles %}
<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
  </head>
  <body>

{% include 'team_manager/partial-user-menu.html' %}



<!-- main content -->
<div class="container">
    <div class="row">
        <div class="col l9">
            <br />
            <h3>Gym Slot</h3>

            <div class="divider"></div>
            <p>Please select the Gym Slot you want to start a session for.</p>

            <h4>Today:</h4>
            {% for gym_slot in gym_slots_today %}
                <button class="btn btn-flat pink waves-effect waves-light white-text"><a href="start_gym_slot_session/{{gym_slot.id}}">{{gym_slot.name}}</a></button>
            {% endfor %}

            <div class="divider"></div>

            <h4>Other Days:</h4>
            {% for gym_slot in gym_slots_other %}
                <button class="btn btn-flat pink waves-effect waves-light white-text"><a href="start_gym_slot_session/{{gym_slot.id}}">{{gym_slot.name}}</a></button>
            {% endfor %}
            
<!--
            <div class="row">
                <div class="col s2"><i class="medium mdi-action-label-outline"></i></div>
                <div class="col s2"><i class="medium mdi-action-loyalty"></i></div>
                <div class="col s2"><i class="medium mdi-action-query-builder"></i></div>
                <div class="col s2"><i class="medium mdi-action-settings-applications"></i></div>
            </div>
-->

        </div>
       

    </div>
</div>


<!--login modal-->
<div id="modalLogin" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate">
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
    </div>
</div>


    <!--Import jQuery before materialize.js-->
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}

  </body>
</html>