{% include 'team_manager/partial-user-menu.html' %}


{% include 'team_manager/partial-flash-messages.html' %}
<!-- main content -->

<div class="container theme-showcase" role="main">

  <div class="page-header col-sm-12">
      <h4>Gym Slot: {{gym_slot.name}}</h4>
      <p>Select the slot you want to start a session for:</p>
  </div>






  <div class="col-sm-6">
    <div class="list-group z-depth-3">
      <a href="#" class="list-group-item list-group-item-default">
        Active Games
      </a>
      {% if active_games %}
        {% for game in active_games %}
           <a href="game/{{game.id}}" class="list-group-item list-group-item-action"><span class="fa fa-dribbble" aria-hidden="true"></span> {{game.start_time}} </a>
         {% endfor %}
      {% else %}
          <a href="" class="list-group-item list-group-item-action">No Active Games</a>
      {% endif %}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="list-group z-depth-3">
      <a href="#" class="list-group-item list-group-item-default">
        Active Sessions
      </a>
      {% if active_sessions %}
        {% for session in active_sessions %}
           <a href="gym_session/{{session.id}}" class="list-group-item list-group-item-action"><span class="fa fa-dribbble" aria-hidden="true"></span> {{session.created_at}} </a>
         {% endfor %}
      {% else %}
          <a href="" class="list-group-item list-group-item-action">No Active Sessions</a>
      {% endif %}
    </div>
  </div>


  <div class="col-sm-6">
    <div class="list-group z-depth-3">
      <a href="#" class="list-group-item active">
        Today
      </a>
        {% if gym_slots_today %}
          {% for gym_slot in gym_slots_today %}
             <a href="gym_slot/{{gym_slot.id}}" class="list-group-item list-group-item-action"><span class="fa fa-calendar" aria-hidden="true"></span> {{gym_slot.name}}</a>
           {% endfor %}
        {% else %}
            <a href="" class="list-group-item list-group-item-action">No Gym Slots Scheduled Today</a>
        {% endif %}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="list-group z-depth-3">
      <a href="#" class="list-group-item active">
        Other Days
      </a>
      {% for gym_slot in gym_slots_other %}
         <a href="gym_slot/{{gym_slot.id}}" class="list-group-item list-group-item-action"><span class="fa fa-calendar" aria-hidden="true"></span> {{gym_slot.name}}</a>
       {% endfor %}
    </div>
  </div>



<div class="page-header col-sm-12">
  <h5> <i class="fa fa-trophy fa-lg" aria-hidden="true"></i>
           Leaderboards
  </h5>
</div>

    <div class="col-sm-6">
      <div class="list-group z-depth-3">
        <a href="#" class="list-group-item list-group-item-info">
          <span class="fa fa-star fa-lg" aria-hidden="true"></span> <strong>Individual:</strong> Win Percentage
        </a>
        {% if ps_win_ratio %}
          {% for ps in ps_win_ratio %}
             <a href="player/{{ps.player_id}}" class="list-group-item list-group-item-action"><span class="fa fa-user" aria-hidden="true"></span> {{ps.player}} ({{ps.win_ratio|floatformat:2}})</a>
           {% endfor %}
        {% else %}
            <a href="" class="list-group-item list-group-item-action">No Active Games</a>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-6">
      <div class="list-group z-depth-3">
        <a href="#" class="list-group-item list-group-item-danger">
          <span class="fa fa-star-o fa-lg" aria-hidden="true"></span> <strong>Individual:</strong> Point Differential
        </a>
        {% if ps_point_differential %}
          {% for ps in ps_point_differential %}
             <a href="/player/{{ps.player_id}}" class="list-group-item list-group-item-action"><span class="fa fa-user" aria-hidden="true"></span> {{ps.player}} ({{ps.point_differential__avg|floatformat:2}})</a>
           {% endfor %}
        {% else %}
            <a href="" class="list-group-item list-group-item-action">No Active Games</a>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-6">
      <div class="list-group z-depth-3">
        <a href="#" class="list-group-item list-group-item-warning">
          <span class="fa fa-handshake-o fa-lg" aria-hidden="true"></span> <strong>Tandem:</strong> Win Percentage
        </a>
        {% if best_tandem_win_ratio %}
          {% for ps in best_tandem_win_ratio %}
             <a href="/player/{{ps.player_id}}" class="list-group-item list-group-item-action"><span class="fa fa-user" aria-hidden="true"></span> {{ps.player}}/{{ps.other_player}} ({{ps.win_loss|floatformat:2}})</a>
           {% endfor %}
        {% else %}
            <a href="" class="list-group-item list-group-item-action">No Active Games</a>
        {% endif %}
      </div>
    </div>

    <div class="col-sm-6">
      <div class="list-group z-depth-3">
        <a href="#" class="list-group-item list-group-item-success">
          <span class="fa fa-hand-peace-o fa-lg" aria-hidden="true"></span> <strong>Tandem:</strong> Point Differential
        </a>
        {% if best_tandem_point_differential %}
          {% for ps in best_tandem_point_differential %}
             <a href="/player/{{ps.player_id}}" class="list-group-item list-group-item-action"><span class="fa fa-user" aria-hidden="true"></span> {{ps.player}}/{{ps.other_player}} ({{ps.point_differential|floatformat:2}})</a>
           {% endfor %}
        {% else %}
            <a href="" class="list-group-item list-group-item-action">No Active Games</a>
        {% endif %}
      </div>
    </div>

</div>

</div>
</div>
       





    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>