<div class="navbar-fixed">
    <nav class="Indigo">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">&nbsp;Basketball Team Builder</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="side-nav" id="mobile-demo">
                {% if user.is_superuser %}
                    <li><a href="/players">Players</a></li>
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                  <li><a href="/logout">Logout</a></li>
                {% else %}
                  <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>