{% if messages %}
  {% for message in messages %}
  <div class="flash {% if message.tags %}{{ message.tags }}{% endif %}">
    <a href="#"></a>
    <i></i>
    <span>{{ message }}</span>
  </div>
  {% endfor %}
  <script>
  $("body").on('click', 'div.flash a', function(e){
    e.preventDefault();
    var link = $(this);
    link.parent('div').addClass('flipOutX');
  });
  // automatically close flash after 10 sec
  setTimeout(function(){
    $("div.flash").addClass('flipOutX');
  }, 10000);
  </script>
{% endif %}