  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Basketball Group Manager</title>
     {% load static %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bbtb_team_manager.css">
  </head>
  <body>

<!-- Considering Updating to https://github.com/FezVrasta/bootstrap-material-design -->





    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-dark">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Basketball Team Builder</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/"><span class="fa fa-home fa-lg" aria-hidden="true"></span> Home</a></li>
            <li class="nav-item"><a href="/players"><span class="fa fa-user fa-lg" aria-hidden="true"></span> Players</a></li>
            
            {% if user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa fa-cog fa-lg" aria-hidden="true"></span> Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/player_stats">Player Stats</a></li>
                  <li><a class="dropdown-item" href="/gym_slots">Gym Slots</a></li>
                  <li><a class="dropdown-item" href="/admin">App Admin</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a class="dropdown-item" href="/update_game_stats">Update Game Stats</a></li>
                  
                </ul>
              </li>
            {% endif %}

            {% if user.is_authenticated %}
              <li class="nav-item"><a href="/logout"><span class="fa fa-sign-out fa-lg" aria-hidden="true"></span> Logout</a></li>
            {% else %}
              <li class="nav-item"><a href="/login"><span class="fa fa-sign-in fa-lg" aria-hidden="true"></span> Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% include 'team_manager/partial-flash-messages.html' %}
