{% include 'team_manager/partial-user-menu.html' %}


 <!-- main content -->

     <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/players">Players</a></li>
        <li class="active">Player</li>
    </ol>
    
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h4>Player: {{player}}</h4>
    </div>

    <div class="container">


<form action="/add_update_player" method="POST">

{% csrf_token %}
        <div class="col-sm-12">
            <div class="list-group" id="list2">




                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h3 class="panel-title">{{ player }}</h3>
                    </div>

                    <div class="panel-body" id="{{team}}">
                            {{ form.as_p }}
                            {% if player.id %}
                              <input type="hidden" name="player_id" value="{{player.id}}">
                            {% endif %}

                    </div>

                    <div class="panel-footer">
                            <button class="btn btn-success" type="submit" name="action">Save
                                <span class="fa fa-save" aria-hidden="true"></span>
                            </button>
                    </div>
                </div>




            </div>
        </div>




    </div>


</div>


    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>