{% load staticfiles %}
<html>




{% include 'team_manager/partial-user-menu.html' %}


<style>

tbody td, thead th {
    width: 9%;
}

.td-name {
    width: 19%;
}

thead {
    background-color: #337ab7;
    font-size: 12px;
    color: #fff;

    border-radius: @border-radius-base;
    text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
    #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
    border-color: darken(@list-group-active-border, 7.5%);
}


.table-condensed{
    font-size: 11px;
}

</style>


<!-- main content -->
<div class="container">
    <div class="row">


        <div class="col">
            <br />
            <h3>Players</h3>

            <div class="divider"></div>
            <form action="update_player_stats" method="post">
            <input type="hidden" name="player_ids" value="{{player_ids}}">
            {% csrf_token %}

            <div class="fixed-table-header">
            <table id="example" data-toggle="table" data-height="525" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="td-name" data-sortable="true">Name</th>
                        <th data-sortable="true">Rating</th>
                        <th data-sortable="true">Scoring</th>
                        <th data-sortable="true">Shooting</th>
                        <th data-sortable="true">Pass</th>
                        <th data-sortable="true">Reb</th>
                        <th data-sortable="true">D.Large</th>
                        <th data-sortable="true">D.Fast</th>
                        <th data-sortable="true">Move</th>
                        <th data-sortable="true">Aware</th>
                    </tr>
                </thead>
                <tbody>




                    {% for player in players %}
                    <tr>
                        <td class="td-name">{{player}} ({{player.id}})<input type="hidden" name="player[{{ player.id }}]" value="{{ player.id }}"></td>
                        <td>({{player.player_score}})</td>
                        <td>
                            <select id="scoring" name="scoring[{{ player.id }}]">
                                <option value="1" {% if player.stats.scoring == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.scoring == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.scoring == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="scoring" name="outside_shooting[{{ player.id }}]">
                                <option value="1" {% if player.stats.outside_shooting == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.outside_shooting == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.outside_shooting == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="passing" name="passing[{{ player.id }}]">
                                <option value="1" {% if player.stats.passing == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.passing == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.passing == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="rebounding" name="rebounding[{{ player.id }}]">
                                <option value="1" {% if player.stats.rebounding == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.rebounding == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.rebounding == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="defend_large" name="defend_large[{{ player.id }}]">
                                <option value="1" {% if player.stats.defend_large == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.defend_large == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.defend_large == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="defend_fast" name="defend_fast[{{ player.id }}]">
                                <option value="1" {% if player.stats.defend_fast == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.defend_fast == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.defend_fast == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="movement" name="movement[{{ player.id }}]">
                                <option value="1" {% if player.stats.movement == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.movement == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.movement == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.defend_fast == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.defend_fast == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                        <td>
                            <select id="awareness" name="awareness[{{ player.id }}]">
                                <option value="1" {% if player.stats.awareness == 1 %}selected{% endif %}>1</option>
                                <option value="2" {% if player.stats.awareness == 2 %}selected{% endif %}>2</option>
                                <option value="3" {% if player.stats.awareness == 3 %}selected{% endif %}>3</option>
                                <!-- 
                                <option value="4" {% if player.stats.awareness == 4 %}selected{% endif %}>4</option>
                                <option value="5" {% if player.stats.awareness == 5 %}selected{% endif %}>5</option>
                                -->
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <br />
            <button class="" type="submit" name="action">Update Stats <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> 
            </button>
            </form>
            

<!--
            <div class="row">
                <div class="col s2"><i class="medium mdi-action-label-outline"></i></div>
                <div class="col s2"><i class="medium mdi-action-loyalty"></i></div>
                <div class="col s2"><i class="medium mdi-action-query-builder"></i></div>
                <div class="col s2"><i class="medium mdi-action-settings-applications"></i></div>
            </div>
-->

        </div>
       

    </div>
</div>


<!--login modal-->
<div id="modalLogin" class="modal">
    <div class="modal-content">
        <h2 class="center-align">Login</h2>
        <div class="center-align">
            <div class="divider"></div>
            <form class="col s12">
                <div class="row center-align">
                    <div class="input-field col m10 offset-m1 blue-text">
                        <i class="mdi-action-account-circle prefix"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text ">
                        <i class="mdi-action-lock-open prefix"></i>
                        <input id="icon_password" type="password" class="validate">
                        <label for="icon_password">Password</label>
                    </div>
                    <div class="input-field col m10 offset-m1 blue-text">
                        <input type="checkbox" class="blue-text" id="filled-in-box" checked="checked">
                        <label for="filled-in-box">Remember me next time</label>
                    </div>
                </div>
            </form>
            <div class="divider"></div>
            <p>
                <a href="#" class="btn btn-flat white modal-close">Cancel</a> &nbsp;
                <a href="#" class="waves-effect waves-blue blue btn btn-flat modal-action modal-close">Login</a>
            </p>
        </div>
    </div>
</div>



    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
     </script>

    <script type="text/javascript">
         $(".button-collapse").sideNav();
    </script>

  </body>
</html>