{% load staticfiles %}
<html>

{% include 'team_manager/partial-user-menu.html' %}

<style>
.panel-heading {
  background-color: #337ab7;
}

span.badge.pull-right {
    margin-left: 10px;

}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

span.badge..badge-error {
  background-color: #b94a48;
}

span.badge..badge-success {
  background-color: #468847;
}



path.line
{
    fill: none;
    stroke: #000;
}



</style>


<style type="text/css">
  /*css to go here*/


  .g-hed {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size:22px; 
    margin: 3px 0;
  }

  .g-source-bold {
    text-align: left;
    font-size:10px;
    font-weight: bold; 
  }

  .g-source {
    margin: 10px 0;
  }

  .g-source-bold {
    text-align: left;
    font-size:10px; 
  }

  .g-intro {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }

  .g-labels {
    font-family: 'Proxima-Nova', sans-serif;
    fill: white;
    font-weight: bold;
    font-size: 14px;
  }

  .axis line {
    fill: none;
    stroke: #ccc;
    stroke-dasharray: 2px 3px;
    shape-rendering: crispEdges;
    stroke-width: 1px;
  }

  .axis text {
    font-family: 'Proxima-Nova', sans-serif;
    font-size: 13px;
    pointer-events: none;
    fill: #7e7e7e;
  }

  .y.axis text {
    text-anchor: end !important;
    font-size:14px;
    fill: #7e7e7e;
  }

  .domain {
    display: none;
  }

  .line {
    stroke: #2f5491;
    stroke-width: 3px;
    fill: none;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus {
    font-size: 14px;
  }

  .focus circle {
    fill: #5e8dc9;
  }

</style>

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/players">Players</a></li>
        <li class="active">Player</li>
    </ol>

 <!-- main content -->
<div class="container theme-showcase" role="main">

  <div class="page-header">
        <h1>Player: {{player}}</h1>
  </div>

    <div class="row">

        <div class="col-sm-8">
            <div class="list-group" id="list2">


                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h3 class="panel-title">{{ player }}</h3>
                    </div>

                    <div class="panel-body" id="{{team}}">
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>First Name: </strong>{{player.first_name}}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Last Name: </strong>{{player.last_name}}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Nickname: </strong>{{player.nick_name}}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Position: </strong>{{player.position}}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Status: </strong> {{player.status}}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Size: </strong>
                                {% if player.size == 1 %}
                                    Small
                                {% elif player.size == 2 %}
                                    Medium
                                {% else %}
                                    Large
                                {% endif %}
                            </div>
                            <div id="player_{{player.id}}" class="list-group-item player">
                                <strong>Ball Handler: </strong>
                                {% if player.ball_handler %}
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 
                                {% else %}
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> 
                                {% endif %}
                            </div>

                    </div>


                    <div class="panel-footer">
                    {% if user.is_superuser %}
                      <a href="/edit_player/{{player.id}}">
                            <button class="btn btn-success btn-sm" type="submit" name="action">Edit
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                      </a>
                     {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- End Row -->


    <div class="row">
      <div class="col-sm-8 well" id="win_loss_well">
        <h5 class="g-hed" id="win_loss_head"></h5>
        <p class="g-intro" id="win_loss_intro"></p>
        <div id="win_loss_chart"></div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-8 well" id="point_differential_well">
        <h5 class="g-hed" id="point_differential_head"></h5>
        <p class="g-intro" id="point_differential_intro"></p>
        <div id="point_differential_chart"></div>
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script>
//Margin conventions
var margin = {top: 40, right: 70, bottom: 40, left: 35};

//var widther = window.outerWidth;

var element = d3.select('#point_differential_well').node();
var widther = element.getBoundingClientRect().width;

var width = widther - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

//Parses date for correct time format
var parseDate = d3.time.format("%Y-%m-%d").parse;

//Divides date for tooltip placement
var bisectDate = d3.bisector(function(d) { return d.date; }).left;    

//Appends the svg to the chart-container div
var svg = d3.select("#point_differential_chart").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//Appends the svg to the chart-container div
var svg2 = d3.select("#win_loss_chart").append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


//Creates the xScale 
var xScale = d3.time.scale()
  .range([0, width]);

//Creates the yScale
var yScale = d3.scale.linear()
  .range([height, 0]);

var yScale2 = d3.scale.linear()
  .range([height, 0]);

//Defines the y axis styles
var yAxis = d3.svg.axis()
  .scale(yScale)
  .tickSize(-width)
  .tickPadding(8)
  .orient("left");


var yAxis2 = d3.svg.axis()
  .scale(yScale2)
  .tickSize(-width)
  .tickPadding(8)
  .orient("left");

//Defines the y axis styles
var xAxis = d3.svg.axis()
  .scale(xScale)
  .tickPadding(8)
  .orient("bottom")
  .tickSize(height)
  .ticks(numTicks(width))
  .tickFormat(d3.time.format("%Y-%m-%d")); 

//line function convention (feeds an array)
var line = d3.svg.line()
  .x(function(d) { return xScale(d.date); })
  .y(function(d) { return yScale(d.num); });    

var line2 = d3.svg.line()
  .x(function(d) { return xScale(d.date); })
  .y(function(d) { return yScale(d.win_loss); });  

//Loads the data
//d3.csv("linetemplate.csv", ready);
d3.json("http://localhost:8000/player_win_loss/{{player.id}}", ready);

function ready(err, data) {

  if (err) throw "error loading data";
  console.log("hello");

  //FORMAT data
  data.forEach(function(d) {
    d.num = +d.point_differential;
    d.win_loss = +d.win_loss;
    d.date = parseDate(d.game_date);
  });

  console.log(data);

  //Appends chart headline
  d3.select("#point_differential_head").text("Game Point Differential");
  d3.select("#win_loss_head").text("Win Loss Ratio");

  //Appends chart intro text
  d3.select("#point_differential_intro").text("");
  d3.select("#win_loss_intro").text("");

  data.sort(function(a,b) { return a.date - b.date; });

  //Defines the xScale max
  xScale.domain(d3.extent(data, function(d) { return d.date; }));

  //Defines the yScale max
  yScale.domain(d3.extent(data, function(d) { return d.num; }));
  yScale2.domain(d3.extent(data, function(d) { return d.win_loss; }));

  //Appends the y axis
  var yAxisGroup = svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);

  var yAxisGroup = svg2.append("g")
    .attr("class", "y axis")
    .call(yAxis2);

  //Appends the x axis    
  var xAxisGroup = svg.append("g")
    .attr("class", "x axis")
    .call(xAxis);

  var xAxisGroup = svg2.append("g")
    .attr("class", "x axis")
    .call(xAxis);

  //Binds the data to the line
  var drawline = svg.append("path")
    .datum(data)
    .attr("class", "line")
    .attr("d", line); 

  var drawline = svg2.append("path")
    .datum(data)
    .attr("class", "line")
    .attr("d", line2);  



  //Tooltips
  var focus = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");

  //Adds circle to focus point on line
  focus.append("circle")
      .attr("r", 4);

  //Adds text to focus point on line    
  focus.append("text")
      .attr("x", 9)
      .attr("dy", ".35em");    
  
  //Creates larger area for tooltip   
  var overlay = svg.append("rect")
      .attr("class", "overlay")
      .attr("width", width)
      .attr("height", height)
      .on("mouseover", function() { focus.style("display", null); })
      .on("mouseout", function() { focus.style("display", "none"); })
      .on("mousemove", mousemove);
  
  //Tooltip mouseovers            
  function mousemove() {
    var x0 = xScale.invert(d3.mouse(this)[0]),
        i = bisectDate(data, x0, 1),
        d0 = data[i - 1],
        d1 = data[i],
        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
    focus.attr("transform", "translate(" + xScale(d.date) + "," + yScale(d.num) + ")");
    focus.select("text").text(d.num);
  }; 

      
  //RESPONSIVENESS
  d3.select(window).on("resize", resized);

  function resized() {

    //new margin
    var newMargin = {top: 10, right: 80, bottom: 20, left: 50};

    //Get the width of the window
    var w = d3.select(".g-chart").node().clientWidth;
    console.log("resized", w);

    //Change the width of the svg
    d3.select("svg")
      .attr("width", w);

    //Change the xScale
    xScale
      .range([0, w - newMargin.right]);

    //Update the line
    line = d3.svg.line()
      .x(function(d) { return xScale(d.date); })
      .y(function(d) { return yScale(d.num); }); 

    d3.selectAll('.line')
      .attr("d", line);  


    //Updates xAxis
    xAxisGroup
      .call(xAxis);   

    //Updates ticks
    xAxis
      .scale(xScale)
      .ticks(numTicks(w));

    //Updates yAxis  
    yAxis
      .tickSize(-w - newMargin.right)
  };

}

//Determines number of ticks base on width
function numTicks(widther) {
  if (widther <= 900) {
    return 4
    console.log("return 4")
  }
  else {
    return 12
    console.log("return 5")
  }
}

</script>

    </div>


</div>


    <!-- Latest compiled and minified JavaScript -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>

<script type="text/javascript">

    $('#clock').countdown("{{game_end|date:"Y/m/d H:i:s"}}", {elapse: true})
        .on('update.countdown', function(event) {
      var $this = $(this);
      if (event.elapsed) {
        $this.html(event.strftime('OverTime: <span>%H Hours %M Minutes %S Seconds</span>'));
      } else {
        $this.html(event.strftime('Time Remaining: <span>%H Hours %M Minutes %S Seconds</span>'));
      }
    });



  $('#btn-reset').click(function() {
    $clock.countdown(get15dayFromNow());
  });

  $('#btn-pause').click(function() {
    $clock.countdown('pause');
  });

  $('#btn-resume').click(function() {
    $clock.countdown('resume');
  });

</script>

  </body>
</html>