{% include 'team_manager/partial-user-menu.html' %}

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/gym_slot/{{gym_session.gym_slot.id}}">Gym Slot</a></li>
        <li><a href="/gym_session/{{gym_session.id}}">Gym Session</a></li>
        <li class="active">New Game</li>
    </ol>

    <!-- main content -->
    <div class="container theme-showcase" role="main">

    <div class="page-header">
        <h4>Gym Slot: {{gym_session.gym_slot.name}}</h4>
        <h5>Session: {{ gym_session.start_time|date:"SHORT_DATE_FORMAT" }} {% if rematch_game_id %}<strong>Rematch</strong>{% endif %}</h5>
    </div>

<div class="container">

    {% if teams %} 


        <div class="col-sm-6">
          <form action="/new_game/{{gym_session.id}}" method="POST">
          {% csrf_token %}
          <div class="list-group" id="list2">
              {% for team,players in teams.items  %}

                <div class="panel panel-default z-depth-3">
                    <div class="panel-heading">
                         {% if team == 'team_a' %}
                            <h3 class="panel-title">Team A 
                                <span class="badge badge-pill badge-primary pull-right">Score: {{team_score.team_a}}</span>
                                <span class="badge badge-pill badge-primary pull-right">Size: {{team_size.team_a}}</span>
                            </h3>
                         {% else %}
                            <h3 class="panel-title">Team B 
                                <span class="badge badge-pill badge-primary pull-right">Score: {{team_score.team_b}}</span>
                                <span class="badge badge-pill badge-primary pull-right">Size: {{team_size.team_b}}</span>
                            </h3>
                         {% endif %}
                    </div>
                    <div class="panel-body" id="{{team}}">
                        {% for player in players %} 
                            <div id="player_{{player.id}}" class="list-group-item player">{{player.first_name}} {{player.last_name}} - {{player.position}}
                            <input type="hidden" class="player_checkbox" name="{{team}}[]" value="{{ player.id }}">
                            <span class="pull-right commands">
                                <a class="pink-text removeplayer">
                                        <i class="fa fa-remove fa-2x"></i> 
                                </a>
                                <span>&nbsp;|&nbsp;</span>
                                <a class="green-text move_player" aria-label="Left Align">
                                    {% if team == 'team_a' %}
                                        <i class="fa fa-arrow-down fa-2x move"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-up fa-2x move"></i>
                                    {% endif %}
                                </a>
                            </span>

                            


                            </div>

                        {% endfor %}
                    </div>
                </div>

              {% endfor %}


          </div>
          <input type="hidden" name="teams" value="{{ teams_json }}">
          <button class="btn btn-success btn-block z-depth-3" type="submit" name="action">
                    Start New Game <span class="fa fa-forward" aria-hidden="true"></span>
          </button>


        </form>



        </div>

        <div class="col-sm-6">
            <div class="list-group" id="list2">

                <div class="panel panel-default z-depth-3">
                    <div class="panel-heading">
                            <h3 class="panel-title">Available Players</h3>
                    </div>
                    <div class="panel-body" id="available_players">
                        {% for player in players %} 
                            <div id="player_{{player.id}}" class="list-group-item player">{{player.first_name}} {{player.last_name}} - {{player.position}}
                            <input type="hidden" class="player_checkbox" name="{{team}}[]" value="{{ player.id }}">
                            <span class="pull-right commands">
                                <a class="green-text add_to_a">
                                   <i class="fa fa-font fa-2x"></i>
                                </a>
                                <span>&nbsp;|&nbsp;</span>
                                <a class="pink-text add_to_b">
                                    <i class="fa fa-bold fa-2x""></i>
                                </a>

                            </span>
                            </div>

                        {% endfor %}
                    </div>
                </div>

            </div>


            <button type="button" class="btn btn-primary btn-block z-depth-3" data-toggle="modal" data-target="#myModal"> ReScore Teams 
                <span class="fa fa-triangle-bottom" aria-hidden="true"></span>
            </button>
        </div>
    {% else %}


  <div class="row">
  <div class="container">
    <form action="" method="post">
    {% csrf_token %}
        <div class="col-sm-6">
          <div class="list-group z-depth-3" id="list1">
          <a href="#" class="list-group-item active" id="general">Select Players <i><span class="badge badge-pill badge-primary counter"></span></i> <input title="toggle all" type="checkbox" class="all pull-right"></a>
          {% for player in players %}
              <a href="#!" class="list-group-item">{{player}}<input type="checkbox" class="pull-right" id="players_group[]-{{player.id}}" name="players_group[]" value="{{player.id}}" {% if player.id in players_group %}checked{% endif %}/></a>
            {% endfor %}
          </div><!-- end list -->


                <button class="btn btn-success btn-block z-depth-3" type="submit" name="action">Make Teams
                    <span class="fa fa-play" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary btn-block z-depth-3" data-toggle="modal" data-target="#myModal"> Advanced 
                    <span class="fa fa-triangle-bottom" aria-hidden="true"></span>
                </button>

    </div>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adjust Model Weights</h4>
      </div>
      <div class="modal-body z-depth-3">
            {% if teams %} 
              <form action="" method="post">
            {% endif %}
                <div class="row">
                    <div class="col-xs-6">
                        Scoring:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="scoring" value="{% firstof model_weights.scoring 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Outside Shooting:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="outside_shooting" value="{% firstof model_weights.outside_shooting 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Passing:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="passing" value="{% firstof model_weights.passing 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Rebounding:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="rebounding" value="{% firstof model_weights.rebounding 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Defend Large:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="defend_large" value="{% firstof model_weights.defend_large 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Defend Fast:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="defend_fast" value="{% firstof model_weights.defend_fast 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Movement:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="movement" value="{% firstof model_weights.movement 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Awareness:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="awareness" value="{% firstof model_weights.awareness 1 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Size:
                    </div>
                    <div class="col-xs-3">
                        <input size="3" type="text" name="size" value="{% firstof model_weights.size 2 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Use Win Percentage:
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" name="win_ratio" value="1" {% if model_weights.win_ratio %}checked{% endif %}>
                        <input size="3" type="text" name="win_ratio_weight" value="{% firstof model_weights.win_ratio_weight 0.5 %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                       <b>-- BETA --</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Use Win Contribution:
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" name="win_contribution" value="1" {% if model_weights.win_contribution %}checked{% endif %}>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Use Score Contribution:
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" name="score_contribution" value="1" {% if model_weights.score_contribution %}checked{% endif %}>
                    </div>
                </div>

      </div>
      <div class="modal-footer">
        {% if teams %} 
          {% csrf_token %}
          {% for team,players in teams.items  %}
             {% for player in players %} 
                    <input type="hidden" id="players_group[]-{{player.id}}" name="players_group[]" value="{{player.id}}">
              {% endfor %}
          {% endfor %}
        {% endif %}

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-success" style="margin-top: 0px" type="submit" name="action">Make Teams
            <span class="fa fa-play" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>


        </div><!-- end col -->
    </form>


</div>  <!-- End Model -->


        </div>

    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>

$('.add').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list1 input:checked:not('.all')");
    var n = items.length;
    if (n > 0) {
      items.each(function(idx,item){
        var choice = $(item);
        choice.prop("checked",false);
        choice.parent().appendTo("#list2");
      });
    }
    else {
        alert("Choose an item from list 1");
    }
});

$('.remove').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list2 input:checked:not('.all')");
    items.each(function(idx,item){
      var choice = $(item);
      choice.prop("checked",false);
      choice.parent().appendTo("#list1");
    });
});

/* toggle all checkboxes in group */
$('.all').click(function(e){
    e.stopPropagation();
    var $this = $(this);
    if($this.is(":checked")) {
        $this.parents('.list-group').find("[type=checkbox]").prop("checked",true);
    }
    else {
        $this.parents('.list-group').find("[type=checkbox]").prop("checked",false);
        $this.prop("checked",false);
    }
});

$('[type=checkbox]').click(function(e){
  e.stopPropagation();
});

/* toggle checkbox when list group item is clicked */
$('.list-group a').click(function(e){
  
    e.stopPropagation();
  
    var $this = $(this).find("[type=checkbox]");
    if($this.is(":checked")) {
        $this.prop("checked",false);
    }
    else {
        $this.prop("checked",true);
    }
  
    if ($this.hasClass("all")) {
        $this.trigger('click');
    }
});

</script>

<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
$(function() {
    $('#general i .counter').text(' ');
    
    var generallen = $("#general-content input[name='players_group[]']:checked").length;
    if(generallen>0){$("#general i .counter").text(generallen + ' selected');}else{$("#general i .counter").text('0 selected');}
})

function updateCounter() {
    var len = $("#general-content input[name='players_group[]']:checked").length;
    if(len>0){$("#general i .counter").text(len + ' selected');}else{$("#general i .counter").text('0 selected');}
}

$("#general-content input:checkbox").on("change", function() {
    updateCounter();
});

$("#general-content a").click(function(){
      updateCounter();
});

$(function() {
    $('.select_all').change(function() {
        var checkthis = $(this);
        var checkboxes = $(this).parent().next('ul').find("input[name='players_group[]']");

        if(checkthis.is(':checked')) {
            checkboxes.attr('checked', true);
        } else {
            checkboxes.attr('checked', false);
        }
        updateCounter();
    });
    
})

});//]]> 

</script>

<script>

function remove_player(player) {

    var inpt = player.find('input');
    var new_buttons = $('<span class="pull-right commands"><a class="green-text add_to_a"><i class="fa fa-font fa-2x"></i></a><span>&nbsp;|&nbsp;</span><a class="pink-text add_to_b"><i class="fa fa-bold fa-2x"></i></a></span>');

    $( "#available_players" ).append(player);

    var old_commands = player.find('span.commands').first();
    old_commands.remove()

    player.append(new_buttons);

    var btn_a = player.find('a.add_to_a');
    var btn_b = player.find('a.add_to_b');



    btn_a.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        add_to_a(player);
    })

    btn_b.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        add_to_b(player);
    })


}



function add_to_a(player) {

    var new_a_commands = $('<span class="pull-right commands"><a class="pink-text removeplayer fa-2x"><i class="fa fa-remove"></i> </a><span>&nbsp;|&nbsp;</span><a class="green-text move_player"><i class="fa fa-arrow-down move fa-2x"></i></a></span>');

    var inpt = player.find('input');

    inpt.attr('name', "team_a[]")
    $( "#team_a" ).append(player);

    var old_commands = player.find('span.commands');
    old_commands.remove()
    player.append(new_a_commands);

    var btn_a = player.find('a.removeplayer');
    var btn_b = player.find('a.move_player');

    btn_a.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        remove_player(player);
    })

    btn_b.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        move_player(player);
    })

}



function add_to_b(player) {

    var new_b_commands = $('<span class="pull-right commands"><a class="pink-text removeplayer fa-2x"><i class="fa fa-remove fg-2x"></i> </a><span>&nbsp;|&nbsp;</span><a class="green-text move_player"><i class="fa fa-arrow-up move fa-2x"></i></a></span>');

    var inpt = player.find('input');
    inpt.attr('name', "team_b[]")
    $( "#team_b" ).append(player);

    var old_commands = player.find('span.commands');
    old_commands.remove()
    player.append(new_b_commands);

    var btn_a = player.find('a.removeplayer');
    var btn_b = player.find('a.move_player');

    btn_a.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        remove_player(player);
    })

    btn_b.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        move_player(player);
    })

}


function move_player(player){

    //var old_commands = player.find('span.commands').first();
    //old_commands.remove()

    var btn = player.find('i.move');
    btn.toggleClass('fa-arrow-up fa-arrow-down');

    var team = player.closest('div.panel-body');
    var inpt = player.find('input');

    if (team.attr('id') == 'team_a') {
        inpt.attr('name', "team_b[]")
        $( "#team_b" ).append(player);
        //player.append(new_b_commands);
    } else {
        inpt.attr('name', "team_a[]")
        $( "#team_a" ).append(player);
        //player.append(new_a_commands);
    }

    //var btn_a = player.find('button.removeplayer');
    //var btn_b = player.find('button.move_player');

/*    btn_a.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        remove_player(player);
    })

    btn_b.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        move_player(player);
    })*/

}


$( "a.move_player" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('div.player');
    move_player(player);
    
});

$( "a.add_to_a" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('div.player');
    add_to_a(player);

});


$( "a.add_to_b" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('div.player');
    add_to_b(player);

});

$( "a.removeplayer" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('div.player');
    remove_player(player);

});




</script>


  </body>
</html>