{% load staticfiles %}
<html>


{% include 'team_manager/partial-user-menu.html' %}

<style>
.panel-heading {
  background-color: #337ab7;
}

span.badge.pull-right {
    margin-left: 10px;
    width: 100px;
}

</style>


    <!-- main content -->
    <div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Gym Slot: {{gym_slot.name}}</h1>
    </div>

<div class="container">

    {% if teams %} 

        <div class="col-sm-5 col-sm-offset-1">
          <div class="list-group" id="list2">
              {% for team,players in teams.items  %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                         {% if team == 'team_a' %}
                            <h3 class="panel-title">Team A <span class="badge badge-pill badge-primary pull-right">Score: {{team_score.team_a}}</span></h3>
                         {% else %}
                            <h3 class="panel-title">Team B <span class="badge badge-pill badge-primary pull-right">Score: {{team_score.team_b}}</span></h3>
                         {% endif %}
                    </div>
                    <div class="panel-body">
                        {% for player in players %} 
                            <a  class="list-group-item">{{player.first_name}} {{player.last_name}} - {{player.position}}</a>
                        {% endfor %}
                    </div>
                </div>

              {% endfor %}


          </div>
        </div>

    {% endif %}


  <div class="row">
    <form action="" method="post">
    {% csrf_token %}
        <div class="col-sm-5 col-sm-offset-1" id="general-content" >
          <div class="list-group" id="list1">
          <a href="#" class="list-group-item active" id="general">Select Players <i><span class="badge badge-pill badge-primary counter"></span></i> <input title="toggle all" type="checkbox" class="all pull-right"></a>
          {% for player in players %}
              <a href="#!" class="list-group-item">{{player}}<input type="checkbox" class="pull-right" id="players_group[]-{{player.id}}" name="players_group[]" value="{{player.id}}" {% if player.id in players_group %}checked{% endif %}/></a>
            {% endfor %}
          </div><!-- end list -->

            <button class="btn btn-primary" type="submit" name="action">Make Teams
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>

        </div><!-- end col -->
    </form>




</div>


<!--
        <div class="col l3">
            <div class="card pink darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Past Sessions</span>
                </div>
                <div class="card-action">
                        {% for session in sessions %}
                            <a href="#">{{session.start_time|date:"SHORT_DATE_FORMAT"}}<br/></a>
                        {% endfor %}
                    </div>
                </div>

            </div>
-->
        </div>

    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>

$('.add').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list1 input:checked:not('.all')");
    var n = items.length;
    if (n > 0) {
      items.each(function(idx,item){
        var choice = $(item);
        choice.prop("checked",false);
        choice.parent().appendTo("#list2");
      });
    }
    else {
        alert("Choose an item from list 1");
    }
});

$('.remove').click(function(){
    $('.all').prop("checked",false);
    var items = $("#list2 input:checked:not('.all')");
    items.each(function(idx,item){
      var choice = $(item);
      choice.prop("checked",false);
      choice.parent().appendTo("#list1");
    });
});

/* toggle all checkboxes in group */
$('.all').click(function(e){
    e.stopPropagation();
    var $this = $(this);
    if($this.is(":checked")) {
        $this.parents('.list-group').find("[type=checkbox]").prop("checked",true);
    }
    else {
        $this.parents('.list-group').find("[type=checkbox]").prop("checked",false);
        $this.prop("checked",false);
    }
});

$('[type=checkbox]').click(function(e){
  e.stopPropagation();
});

/* toggle checkbox when list group item is clicked */
$('.list-group a').click(function(e){
  
    e.stopPropagation();
  
    var $this = $(this).find("[type=checkbox]");
    if($this.is(":checked")) {
        $this.prop("checked",false);
    }
    else {
        $this.prop("checked",true);
    }
  
    if ($this.hasClass("all")) {
        $this.trigger('click');
    }
});

</script>

<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
$(function() {
    $('#general i .counter').text(' ');
    
    var generallen = $("#general-content input[name='players_group[]']:checked").length;
    if(generallen>0){$("#general i .counter").text(generallen + ' selected');}else{$("#general i .counter").text('0 selected');}
})

function updateCounter() {
    var len = $("#general-content input[name='players_group[]']:checked").length;
    if(len>0){$("#general i .counter").text(len + ' selected');}else{$("#general i .counter").text('0 selected');}
}

$("#general-content input:checkbox").on("change", function() {
    updateCounter();
});

$("#general-content a").click(function(){
      updateCounter();
});

$(function() {
    $('.select_all').change(function() {
        var checkthis = $(this);
        var checkboxes = $(this).parent().next('ul').find("input[name='players_group[]']");

        if(checkthis.is(':checked')) {
            checkboxes.attr('checked', true);
        } else {
            checkboxes.attr('checked', false);
        }
        updateCounter();
    });
    
})

});//]]> 

</script>


  </body>
</html>