{% load staticfiles %}
<html>


{% include 'team_manager/partial-user-menu.html' %}


<style>
.panel-heading {
  background-color: #337ab7;
}

span.badge.pull-right {
    margin-left: 10px;

}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

</style>


    <!-- main content -->
    <div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Gym Slot: {{gym_session.gym_slot.name}}</h1>
        <h2>Session: {{ gym_session.start_time|date:"SHORT_DATE_FORMAT" }}</h2>
    </div>

<div class="container">


  <div class="row">
        <div class="col-sm-5" id="general-content" >
        <div class="list-group" id="session_players">
                  
          <a href="#" class="list-group-item active " id="general">Players</a>
          {% for player in gym_session.players.all %}
              <a href="#!" class="list-group-item text-center">
                {{player}}
                <button class="btn btn-danger btn-xs pull-right btn-circle text-center" type="submit" name="action">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                </button>
              </a>
          {% endfor %}
          <a href="#!" class="list-group-item text-center ">
             <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"> Add Players 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
          </a>

          </div><!-- end list -->
        </div>

        <div class="col-sm-5" id="general-content" >
        <div class="list-group" id="list1">
                  
          <a href="#" class="list-group-item active " id="general">Session Games</a>
          {% for game in gym_session.game_set.all %}
              <a href="/game/{{game.id}}" class="list-group-item text-center">
                {{game.start_time|time:"H:i"}} - {{game.end_time|time:"H:i"}}
              </a>
          {% endfor %}
          <a href="/start_gym_slot_session/{{gym_slot.id}}" class="list-group-item text-center ">
              <button class="btn btn-success btn-sm" type="submit" name="action">
                        Start New Game <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> 
              </button>
          </a>

          </div><!-- end list -->
        </div>        

  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adjust Model Weights</h4>
      </div>
      <div class="modal-body">

        <div class="list-group" id="available_players">
                  
          <a href="#" class="list-group-item active " id="general">Players</a>
          {% for player in available_players %}
              <a href="#!" class="list-group-item text-center">
                {{player}}
                <button class="btn btn-success btn-xs pull-right btn-circle text-center" type="submit" name="action">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
                </button>
              </a>
          {% endfor %}

          </div><!-- end list -->



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>


</div>






    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
$( "button.btn-danger" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('a.list-group-item');


    var btn = player.next('button.btn');
    btn.toggleClass('glyphicon-arrow-up glyphicon-arrow-down');

  //change_team(player);
    var team = $("#available_players")
    player.remove()


});

$( "button.btn-success" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('a.list-group-item');

    var btn = player.next('button.btn');
    btn.toggleClass('glyphicon-arrow-up glyphicon-arrow-down');

  //change_team(player);
    var team = $("#session_players")
    team.append(player)


});
</script>



  </body>
</html>