{% include 'team_manager/partial-user-menu.html' %}

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/gym_slot/{{gym_session.gym_slot.id}}">Gym Slot</a></li>
        <li class="active">Gym Session</li>
    </ol>


    <!-- main content -->
    <div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Gym Slot: {{gym_session.gym_slot.name}}</h1>
        <h2>Session: {{ gym_session.start_time|date:"SHORT_DATE_FORMAT" }}</h2>
    </div>
              
<div class="container">
<form action="/start_gym_slot_session/{{ gym_session.id }}" method="post">
{% csrf_token %}

  <div class="row">
        <div class="col-sm-6" id="general-content" >
        <div class="list-group">
                  
          <a href="#" class="list-group-item active " id="general">
          Players
          <i><span class="badge badge-pill badge-primary counter"></span></i>
          </a>
          <div id="session_players">
          {% for player in gym_session.players.all %}
              <a href="#!" class="list-group-item text-center player">
                {{player}}
                <button class="btn btn-danger removeplayer btn-xs pull-right btn-circle text-center" type="submit" name="action">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                </button>
                <input type="hidden" name="player_id" value="{{ player.id}}">
                <input type="hidden" name="players_group[]" value="{{ player.id}}">
              </a>
          {% endfor %}
          </div>
          <a href="#!" class="list-group-item text-center ">
             <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"> Add Players 
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
          </a>

          </div><!-- end list -->
        </div>

        <div class="col-sm-6" id="general-content" >
        <div class="list-group" id="list1">
                  
          <a href="#" class="list-group-item active " id="general">Session Games</a>
          {% for game in gym_session.game_set.all %}
              <a href="/game/{{game.id}}" class="list-group-item text-center">
                <span class="fa fa-dribbble" aria-hidden="true"></span> 
                {{game.start_time|time:"H:i"}} - {{game.end_time|time:"H:i"}}
              </a>
          {% endfor %}
          <a href="/start_gym_slot_session/{{gym_session.id}}" class="list-group-item text-center ">

              {% csrf_token %}
              <button class="btn btn-success btn-sm" type="submit" name="action">
                        Start New Game <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> 
              </button>

          </a>

          </div><!-- end list -->
        </div>        

  </div>

                </form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Players to Current Session</h4>

      </div>
      <div class="modal-body">

        <div class="list-group" id="available_players">
                  
          <a href="#" class="list-group-item active " id="general">
                Players
                <button type="button" class="btn btn-default pull-right btn-xs" id="add_all_players_to_session">Add All </button>
          </a>

          {% for player in available_players %}
              <a href="#!" class="list-group-item text-center player">
                {{player}}
                <button class="btn btn-success addplayer btn-xs pull-right btn-circle text-center" type="submit" name="action">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
                </button>
                <input type="hidden" name="player_id" value="{{ player.id}}">
                <input type="hidden" name="players_group[]" value="{{ player.id}}">
              </a>
          {% endfor %}

          </div><!-- end list -->



      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
<!-- End Modal -->

</div>

</div>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
$( "button.removeplayer" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('a.list-group-item');
    remove_player(player);

});

$( "button.addplayer" ).click(function(e) {
    e.preventDefault();

    var player = $( this ).closest('a.list-group-item');
    add_player(player);

});

$( "#add_all_players_to_session" ).click(function(e) {
    e.preventDefault();
    var available_players_section = $( "#available_players" );
    var available_players = available_players_section.find('a.list-group-item.player')


    available_players.each(function( i ) {
        player = $( this );
        add_player(player);
    })
});



function add_player(player) {

    var btn_ok = player.find('span.glyphicon-ok');
    btn_ok.toggleClass('glyphicon-ok glyphicon-remove');

    var player_id = player.find('input').val()

    var btn = player.find('button.btn-success');
    btn.toggleClass('btn-success btn-danger');
    btn.toggleClass('addplayer removeplayer');

    var team = $("#session_players");
    add_player_to_session(player_id);
    team.append(player);
    updateCounter();

    btn.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        var player = $( this ).closest('a.list-group-item');
        remove_player(player);
    })

}

function remove_player(player) {

    var btn_ok = player.find('span.glyphicon-remove');
    btn_ok.toggleClass('glyphicon-remove glyphicon-ok');

    var player_id = player.find('input').val()

    var btn = player.find('button.btn-danger');
    btn.toggleClass('btn-success btn-danger');
    btn.toggleClass('removeplayer addplayer');

    var team = $("#available_players");
    remove_player_from_session(player_id);
    team.append(player);
    updateCounter();

    btn.unbind('click', arguments.callee).click(function(e){
        e.preventDefault();
        var player = $( this ).closest('a.list-group-item');
        add_player(player);
    })

}

function add_player_to_session(player) {
    $.ajax({
        url: "/add_player_to_session",
        type: "POST",
        data: {
          'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
          'player_id': player, 
          'gym_session_id': {{ gym_session.id }}
        },
        dataType: 'json'
    });
}

function remove_player_from_session(player) {
    $.ajax({
        url: "/remove_player_from_session",
        type: "POST",
        data: {
            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
            'player_id': player, 
            'gym_session_id': {{ gym_session.id }}
        },
        dataType: 'json'
    });
}

function updateCounter() {
    var len = $("#session_players a.player").length;
    if(len>0){$("#general i .counter").text(len + ' total');}else{$("#general i .counter").text('0 total');}
}

</script>

<script type='text/javascript'>//<![CDATA[
$(window).load(function(){
$(function() {
    $('#general i .counter').text(' ');
    
    var generallen = $("#session_players a.player").length;
    if(generallen>0){$("#general i .counter").text(generallen + ' total');}else{$("#general i .counter").text('0 total');}
})



$("#general-content input:checkbox").on("change", function() {
    updateCounter();
});

$("#general-content a").click(function(){
      updateCounter();
});


});//]]> 

</script>

  </body>
</html>